html{
    padding: 0;
    margin: 0;
    position: relative;
}

body{
    position: relative;
}

.fundo{
    background: red;
    height: 100%;
    width: 100%;
    position: fixed;
    background: white;
    opacity: 0.5;
    z-index: 100;
    display: none;
}

.spinner-border{
    position: fixed;
    margin: 20% 45%;
    z-index: 102;
    width: 3rem; 
    height: 3rem;
    display: none;
}

.tela-dialog{
    padding: 1em;
    position: fixed;
    z-index: 101;
    background: #ccc;
    top: 40%;
    left: 40%;
    border-radius: 5px;
    box-shadow: 2px 2px #777;
    display: none;
}

.tela-dialog div{
    margin: 1em 2em;
    display: flex;
    align-content: center;
    align-items: center;
}

.tela-dialog div button{
    margin-left: 1em;
    width: auto;
}

#top img{
    padding: 1em;
    width: 11em;
}

#top h2{
    display: inline-block;
    font-size: 1.8em;
    font-weight: bold;
    margin: 0px 20%;
}

#top h4{
    margin: 0px 27%;
    font-size: 1.3em;
}

#novo-cadastro{
    display: none;
}

.principal{
    position: relative;
    background: white;
    padding: 0;
}

.nav-link{
    cursor: pointer;
}

.nav-tabs .active{
    font-weight: bold;
}

#inserir{
    background: white;
    position: absolute;
    width: 90%;
    margin: 0px 2em;
    padding: 1em;
}

#consultar{
    background: white;
    position: absolute;
    width: 90%;
    margin: 0px 2em;
    padding: 1em;
    display: none;
    position: relative;
}

body h2{
    margin: 0px;
    padding: .3em;
    text-align: center;
}

.ipt-nome{
    width: 60em;
    margin: 2em 2em 0em;
}

.ipt-nome input{
    text-transform: uppercase;
}
.ipt-convenio{
    width: 15em;
    margin: 0em 2em 0em;
}
.ipt-serie{
    width: 15em;
    margin: 0em 2em 0em;
}

.lista-contato{
    margin: 0em 2em;
    border: .5px solid black;
    border-radius: 5px;
    width: 30em;
}

.lista-contato .contacts{
    width: 25em;
}

.ipt-data{
    width: 21em;
    margin: 1em 2em;
}

.ipt-escola{
    width: 60em;
    margin: 0em 2em;
}

.ipt-motivo{
    width: 70em;
    margin: 0em 2em;
    height: 5em;
}

.ipt-boletim{
    width: 15em;
    margin: 1em 2em;
}

.ipt-disciplina{
    width: 40em;
    margin: 0em 2em;
}

.ipt-disciplina a{
    text-align: center;
    
}

.ms-container{
    width: 30em;
}

.ms-selection .ms-list{
    margin-left: 0em;
    width: 15em;
}
.ms-selection .ms-list::before{
    content: 'Disciplinas abaixo da média';
}

.ipt-talento{
    width: 70em;
    margin: 1em 2em;
    height: 5em;
}

.ipt-observacao{
    width: 70em;
    margin: 1em 2em;
    height: 5em;
}

.ipt-situacao{
    margin: 0em 2em;
    width: 30em;
}

.btn-cadastrar{
    margin-top: 2em;
    margin-left: 40%;
    display: inline-block;
}

.btn-limpar{
    margin-top: 2em;
    margin-left: 5em;
}
/*Consulta*/

#tabela-agenda thead th{
    padding: .5em;
}
#ipt-consulta-nome{
    display: inline-block;
    height: 2em;
    text-transform: uppercase;
    width: 21em;
}

#tabela-agenda thead th:nth-child(1){
    width: 22em;
}

#tabela-agenda thead th:nth-child(2){
    width: 10em;
}

#tabela-agenda thead th:nth-child(2) select{
    display: inline-block;
}

#tabela-agenda thead th:nth-child(3){
    width: 10em;
}

#tabela-agenda thead th:nth-child(3) select{
    display: inline-block;
}

#tabela-agenda thead th:nth-child(4){
    width: 10em;
}

#tabela-agenda thead th:nth-child(4) select{
    display: inline-block;
}

#tabela-agenda thead th:nth-child(5){
    width: 20em;
}
#ipt-consulta-escola{
    display: inline-block;
    height: 2em;
    width: 22em;
}

#tabela-agenda thead th:nth-child(6){
    width: 15em;
}

#informacao{
    position: fixed;
    z-index: 101;
    background: #ccc;
    width: 70%;
    margin: 0px 10%;
    border-radius: 5px;
    box-shadow: 2px 2px #999;
    padding: .5em;
    top: 7%;
    display: none;
}

#informacao div #bnt-fechar{
    position: absolute;
    background: white;
    right: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    border-radius: 50%;
    cursor: default;
    font-weight: bold;
    transition: all .2s;
}

#informacao div #bnt-fechar:hover{
    box-shadow: 2px 2px black;
    width: 1.7em;
    height: 1.7em;
}

#informacao label{
    font-weight: bold;
    padding: .2em;
    margin: 0px;
}

#informacao label a{
    font-weight: normal;
    margin-left: .5em;
}

#informacao label:nth-child(2){
    display: block;
}

#informacao label:nth-child(4){
    margin-left: 30%;
}

#informacao label:nth-child(5){
    display: block;
}

#informacao label ul li{
    font-weight: normal;
    list-style: none;
}

#informacao label div{
    height: 7em;
    overflow-y: auto;
}

#informacao label:nth-child(6){
    display: block;
}

#informacao label:nth-child(7){
    display: block;
}

#informacao label:nth-child(9),#informacao label:nth-child(10),#informacao label:nth-child(11),#informacao label:nth-child(12){
    display: block;
}

#btn-editar{
    margin: .5em 47%;
}